--swiftversion 6.0
--indent 4
--indentcase true
--trimwhitespace always
--voidtype void
--nospaceoperators ..<, ...
--ifdef no-indent
--stripunusedargs closure-only
--maxwidth 140
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--funcattributes prev-line
--typeattributes prev-line
--varattributes same-line
--extensionacl on-declarations
--importgrouping testable-bottom
--header strip
--enable blankLinesBetweenScopes
--enable blankLinesAroundMark
--enable blankLineAfterImports
--enable consecutiveSpaces
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable leadingDelimiters
--enable redundantBackticks
--enable redundantBreak
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantType
--enable redundantVoidReturnType
--enable semicolons
--enable sortImports
--enable sortSwitchCases
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable todos
--enable trailingClosures
--enable trailingCommas
--enable trailingSpace
--enable typeSugar
--enable void
--enable wrap
--enable wrapArguments
--enable wrapAttributes
--enable wrapMultilineStatementBraces
--disable acronyms
--disable blankLinesAtStartOfScope
--disable blankLinesAtEndOfScope
--disable docComments
--disable modifierOrder
--exclude .build,DerivedData,Pods
